[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
riemann-keys = {editable = true, path = "."}
secpy256k1 = "*"
base58 = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
tox = "*"
pytest-cov = "*"
ipython = "*"
mypy = "*"

[requires]
python_version = "3.7"
