[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
flake8 = "*"
tox = "*"
pytest-cov = "*"
ptpython = "*"
ptpdb = "*"

[requires]
python_version = "3.7"

[packages]
riemann-keys = {editable = true, path = "."}
