[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
riemann-keys = {editable = true, path = "."}
"riemann-secpy256k1" = "==0.2.8"

[dev-packages]
pytest = "*"
flake8 = "*"
tox = "*"
pytest-cov = "*"
ipython = "*"
mypy = "*"

[requires]
python_version = "3.7"
